{% block field_row %}
<div class="form_row form-group">
    {{ form_label(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form, {'attr': {'disabled': 'disabled'}}) }}
</div>
{% endblock field_row %}{# empty Twig template #}
