{% extends 'base_list.html.twig' %}
{% block list_title %}
    Usuarios Sostenedores
{% endblock %}

{% block boton_nuevo %}
    <a href="{{ path('nuevo sostenedor') }}"><button class="btn btn-info" type="button" style="margin:15px;"><i class="fa fa-plus"></i> Nuevo Sostenedor</button></a>
{% endblock %}    

{% block list_header %}
    <th>Usuario</th>
    <th>Nombre</th>
    <th>Tipo de Instituci贸n</th>
    <th>Email</th>
    <th>Direcci贸n</th>
    <th>Comuna</th>
    <th>Ciudad</th>
    <th>Operaciones</th>
    {% endblock %}   

{% block list_body %}
    {% for sostenedor in sostenedores %} 
        {{ include('admin/sostenedores/list_row.html.twig', { 'sostenedor': sostenedor }) }} 
    {% endfor %} 
{% endblock %}
{% block list_footer %}
    <th>Nombre</th>
    <th>Tipo de Instituci贸n</th>
    <th>Email</th>
    <th>Direcci贸n</th>
    <th>Comuna</th>
    <th>Ciudad</th>
    <th>Operaciones</th>
    {% endblock %}
