{#{% extends 'base.html.twig' %}#}

{% block menu %}
    <!--sidebar nav start-->
    <ul class="nav nav-pills nav-stacked custom-nav">
        <li><a href="{{  path(role ~ '_index') }}"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
        <li><a href="{{ path(role ~ '_index') }}"><i class="fa fa-sitemap"></i> <span>Acciones</span></a></li>
    </ul>
    <!--sidebar nav end-->
{% endblock %}

