{% extends 'base_list.html.twig' %}
{% block list_title %}
    Compromisos {% if sostenedor is defined %} del Sostenedor: <span style="color:#5bc0de;">{{sostenedor.nombre~" "~sostenedor.apellido}}</span> {% endif %}
{% endblock %}

{% block boton_nuevo %}
    <a href="{{ path('asignar compromiso', {'role': role}) }}"><button class="btn btn-info" type="button" style="margin:15px;"><i class="fa fa-plus"></i> Asignar Compromiso</button></a>
{% endblock %}    

{% block list_header %}
    <th>Compromiso</th>
    <th>Sostenedor</th>
    <th>Director</th>
    <th>Operaciones</th>
    {% endblock %}   

{% block list_body %}
    {% for compromiso in compromisos %} 
        {{ include('admin/compromisosReales/list_row.html.twig', { 'compromiso': compromiso }) }} 
    {% endfor %} 
{% endblock %}
{% block list_footer %}
    <th>Compromiso</th>
    <th>Sostenedor</th>
    <th>Director</th>
    <th>Operaciones</th>
    {% endblock %}
