<tr class="gradeX">
    <td>{{ ano.nombre }}</td>
    <td class="center">
        <div class="btn-group">
            <a class="btn btn-info" type="button" href="{{ path('editar ano', {'id': ano.id}) }}">Editar</a>
        </div>
    </td>
</tr>
