<div class="alert alert-{{ type }} alert-block fade in">
    <button type="button" class="close close-sm" data-dismiss="alert">
        <i class="fa fa-times"></i>
    </button>
    <strong>{{ alert | trans }}</strong>
</div>
