<!--sidebar nav start-->
<ul class="nav nav-pills nav-stacked custom-nav">
    <li><a href="{{  path('miembros director') }}"><i class="fa fa-sitemap"></i> <span>Miembros</span></a></li>
    <li class="menu-list"><a href=""><i class="fa fa-cog"></i> <span>Parametrización</span></a>
        <ul class="sub-menu-list">
            <li><a href="{{ path('colegios') }}"> Colegios</a></li>
        </ul>
    </li>
    <li><a href="{{ path('areas') }}"><i class="fa fa-sitemap"></i> <span>Áreas</span></a></li>

</ul>
<!--sidebar nav end-->

