<!--sidebar nav start-->
<ul class="nav nav-pills nav-stacked custom-nav">
    <li><a href="{{  path(role ~ '_index') }}"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
    <li><a href="{{  path('miembros director') }}"><i class="fa fa-users"></i> <span>Miembros</span></a></li>
    <li><a href="{{ path('ver compromisos asignados director') }}"><i class="fa fa-bookmark"></i> <span>Compromisos</span></a></li>
    <li><a href="{{ path('hitos') }}"><i class="fa fa-bookmark-o"></i> <span>Hitos</span></a></li>

</ul>
<!--sidebar nav end-->

